.container {
  width:100%;
  margin:0 auto;
  display:table;
  max-width:800px;
  text-align:center;
}

header {
  padding:10px 0 0 0;
  font:30px "Press Start 2P";
}

#timer-label {
  color:#D35435;
  text-align:center;
  font-family:"Press Start 2P";
}

#start_stop {
  cursor:pointer;
}

#time-left {
  font:70px "Press Start 2P";
  animation:blinker 1s linear infinite;
  -ms-animation:blinker 1s linear infinite;
  -webkit-animation:blinker 1s linear infinite;
}

.arrows {
  cursor:pointer;
  decoration:none;
  font:20px "Press Start 2P";
}

.arrows:active {
  transform:translate(0px, 3px);
}

.controls {
  margin:auto;
  width:50%;
  font-family:"Press Start 2P";
}

#work {
  float:left;
}

#break {
  float:right;
}

.arrows {
  color:#000;
  font-size:30px;
  outline:0 !important;
  border:none !important;
  background:transparent;
}

#reset {
  outline:0 !important;
  border:none !important;
  background:transparent;
  transform: translate(0%, 50%);
  font-family:"Press Start 2P";
  animation:rainbow 1s infinite; 
  -ms-animation:rainbow 1s infinite;
  -webkit-animation:rainbow 1s infinite; 
}

/*animations*/
@-webkit-keyframes rainbow {
	20%{color:red;}
	40%{color:yellow;}
	60%{color:green;}
	80%{color:blue;}
	100%{color:orange;}	
}

@-ms-keyframes rainbow {
	20%{color:red;}
	40%{color:yellow;}
	60%{color:green;}
	80%{color:blue;}
	100%{color:orange;}	
}

@keyframes rainbow {
	20%{color:red;}
	40%{color:yellow;}
	60%{color:green;}
	80%{color:blue;}
	100%{color:orange;}	
}

@-ms-keyframes blinker {  
  50% {opacity:0;}
}

@-webkit-keyframes blinker {  
  50% {opacity:0;}
}

@keyframes blinker {  
  50% {opacity:0;}
}
