/*calculator styling*/
.calculator {
  width:300px;
  height:400px;
  margin:100px auto;
  border-radius:25px;
  border:3px solid #b3b300;
  box-shadow:0 5px 5px 5px #bfbfbf;
  background:#ffe680 url("https://image.ibb.co/huawcQ/pikawave.png") no-repeat right bottom;
}

.screen {
  width:260px;
  height:100px;
  background:#c3c2ab;
  border-radius:20px;
  margin:15px 0 0 18px;
  border:3px solid #b4b39d;
  font-family:"Press Start 2P";
  box-shadow:-2px -2px 0 0 gray;
  
}

#inputs {
  float:left;
  color:#fff;
  font-size:13px;
  margin-bottom:-25px;
}

#display {
  float:right;
  font-size:25px;
}

/*dpad styling*/
.dpad {
  float:left;
  outline:none;
  width: 110px;
  height: 100px;
  position:relative;
  margin:10px 0 0 10px;
}

.d-up {
  float:left;
  width:35px;
  height:35px;
  color:#0000cc;
  margin:10px 0 0 0;
  box-shadow:0 3px 0 0;
  border:1px solid #0000cc;
  font:15px "Press Start 2P";
  border-radius:5px 5px 5px 5px;
  background:rgba(102, 163, 255, 0.7);
}

.d-up:active {
  box-shadow: none;
  transform: translate(0px, 3px);
}

.d-left {
  float:left;
  width:35px;
  height:35px;
  color:#0000cc;
  margin-top:45px;
  box-shadow:0 3px 0 0;
  border:1px solid #0000cc;
  font:15px "Press Start 2P";
  border-radius:5px 5px 5px 5px;
  background:rgba(102, 163, 255, 0.7);
}

.d-left:active {
  box-shadow: none;
  transform: translate(0px, 3px); 
}


.d-down {
  width:35px;
  height:35px;
  margin:0 0 0 35px;
  box-shadow:0 3px 0 0;
  border:1px solid #0000cc;
  font:15px "Press Start 2P";
  border-radius:5px 5px 5px 5px;
  background:rgba(102, 163, 255, 0.7);
}

.d-down:active {
  box-shadow: none;
  transform: translate(0px, 3px);
}

.d-right {
  width:35px;
  height:35px;
  color:#0000cc;
  margin:0 0 0 35px;
  box-shadow:0 3px 0 0;
  border:1px solid #0000cc;
  font:15px "Press Start 2P";
  border-radius:5px 5px 5px 5px;
  background:rgba(102, 163, 255, 0.7);
}

.d-right:active {
  box-shadow: none;
  transform: translate(0px, 3px);
}

/*circle button styling*/
.circlebuttons {
 width:40%;
 float:right;
 margin:15px 15px 0 0;

}

.redbutton {
  width:50px;
  height:50px;
  float:right;
  outline:none;
  color:#990000;
  border-radius:50%;
  box-shadow:0 3px 0 0;
  border:1px solid #990000;
  font:15px "Press Start 2P";
  background:rgba(255, 122, 77, 0.5);
}

.redbutton:active {
  box-shadow: none;
  transform: translate(0px, 3px);
}

.greenbutton {
  float:left;
  width:50px;
  height:50px;
  outline:none;
  color:#006600;
  border-radius:50%;
  margin:20px 0 0 0;
  box-shadow:0 3px 0 0;
  border:1px solid #006600;
  font:15px "Press Start 2P";
  background:rgba(102, 255, 51, 0.5);
}

.greenbutton:active {
  box-shadow: none;
  transform: translate(0px, 3px);
}

/*number key styling*/

.keys {
  width:40%;
  float:right;
  margin:60px 0 0 0;
}

.singlekey {
  color:#fff;
  width:35px;
  height:35px;
  outline:none;
  margin:0 0 3px 0;
  border:1px solid #155115;
  font:15px "Press Start 2P";
  box-shadow:0 2px 0 0 #155115;
  border-radius:5px 5px 5px 5px;
  background:rgba(0, 204, 0, 0.8);
}

.singlekey:active {
  box-shadow: none;
  transform: translate(0px, 3px);
}

/*miscellaneous buttons*/
.startselect {
  width:20%;
  float:left;
  margin:150px 0 0 -100px;

}

.startselectbutton {
 color:#fff;
 width:50px;
 height:22px;
 outline:none;
 margin:0 0 10px 0;
 border-radius:9px;
 background:#666666;
 border:2px solid #404040;
 box-shadow:0 2px 0 0 #000;
 font:15px "Press Start 2P";
}

.startselectbutton:active {
  box-shadow: none;
  transform: translate(0px, 3px);
}

.equals {
  float:left;
  color:#fff;
  width:50px;
  height:50px;
  outline:none;
  border-radius:7px;
  background:#ff704d;
  margin:215px 0 0 -100px;
  border:2px solid #990000;
  font:16px "Press Start 2P";
  box-shadow: 0 2px 0 #990000;
  
}

.equals:active {
  box-shadow: none;
  transform: translate(0px, 3px);
}


body {
  background:#ffffe0;
}
