main {
  margin:auto;
  line-height:2em;
  text-align:center;
  color:white;
  font-family:"Press Start 2P";
}

#navbar {
  z-index:1;
  width:100%;
  position:fixed;
  background:rgb(0, 122, 204,0.8);
  border-radius:5px;
  padding:10px;
}

#spacer {
  height:5em;
}

#profile-pic {
  border:7px solid white;
  border-radius:50%;
  margin:10px 0 10px 0;
}

#welcome-section {
  margin:auto;
  height:100%;
  width:75%;
  
}

a, a:visited {
  color:white;
  font-size:25px;
  text-decoration:none;
}

a:hover {
  color:white;
  text-decoration:none;
  -webkit-animation: rainbow 1s infinite; 
  -ms-animation: rainbow 1s infinite;
  animation: rainbow 1s infinite; 
}

/*cross-browser rainbow effect*/
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}


body {
    background:#0066cc;
}
