#main {
  min-width:500px;
  max-width:800px;
  display:flex;
  margin:10px auto;
  border-radius:4px;
  text-align:center;
  flex-flow:column;
  background:rgba(255,255,255, 0.5);
}

#nav-bar {
  position:fixed;
  width: 100%;
  background:white;
  border-radius:7px;
  font-size:20px;
}

.nav-link{
color:blue;
display:inline;
font-family:'Calibri';
}

#header-img{
  margin:40px 0 10px 0;
}

iframe{
  width:500px;
  height:300px;
  margin:auto;
}

body {
  background:url("images/bg.png") black no-repeat;
  background-size:cover;
}
